@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

:global(#root) {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
